.search-section {
  background-color: $dark-blue-darker;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .search-section__left {
    display: flex;
    width: 100%;
    margin-right: 20px;
    align-items: center;
  }

  .search-section__icon {
    padding-left: 24px;
    margin-right: 24px;
    height: 24px;
  }

  .search-section__input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: $white;
    width: 100%;
    outline: none;

    &::placeholder {
      color: $white;
    }
  }

  .search-section__btn {
    background-color: $btn;
    padding: 12px;
    color: $white;
    font-weight: 700;
    border-radius: 5px;

    &:hover {
      background-color: $btn-hover;
    }
  }

  .search-delete-icon {
    display: flex;
    align-items: center;
    background: transparent;

    i {
      color: $white;
      font-size: 18px;
    }
  }
}

// set light/dark
// @media (prefers-color-scheme: light) {
//   .search-section {
//     background-color: $bg-content;

//     .search-section__input {
//       color: $text-color;

//       &::placeholder {
//         color: $text-color;
//       }
//     }
//   }
// }
